<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D2RoshTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <D2RoshTimer.Properties.Settings>
            <setting name="KeyBind" serializeAs="Xml">
                <value>
                    <Key>O</Key>
                </value>
            </setting>
            <setting name="AltModifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlModifier" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftModifier" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsModifier" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerticalOverlayDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayXPosition" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlayYPosition" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlaySize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="OverlayButtonDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KillDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AegisDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EarlyDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LateDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LongOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErrorOutput" serializeAs="String">
                <value>False</value>
            </setting>
        </D2RoshTimer.Properties.Settings>
    </userSettings>
</configuration>